* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
}

table {
    border-color: #dee2e6 !important;
    width: 100%;
}

table thead {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: darkgray !important;
    text-align: center;
}

table tbody {
    text-align: center;
}

.current {
    background-color: blueviolet !important;
}