/* TITLE.PHP STYLES *********************************************/
* {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	overflow-y: scroll;
	font-family: "Arial", sans-serif;

}

.center {
	text-align: center;
}

#hangman-div {
	padding: 0px;
	text-align: center;
	background: url(images/bg.jpg);
	background-size: 100% 100%;
}

#logo {
	max-width: 100%;
	vertical-align: middle;
}

#levels-div {
	text-align: left;
	max-width: 450px;
	margin: 0 auto;
	font-weight: bold;
}

#submit-button {
	width: 200px;
	height: 50px;
	font-weight: bold;
	margin: 20px 0px;
}

label {
	color: black;
}

#credits {
	font-family: verdana;
	font-size: 14px;
}

#credits a {
	text-decoration: none;
	color: purple;
}

/* START PHP STYLES *********************************************/
#letters {
	font-weight: bold;
	max-width: 1500px;
	text-align: center;
	border: 5px solid rgb(208, 211, 16);
	background: #ff9d0a;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3) !important;
	border-radius: 30px;
	padding: 2rem !important;
}

#letters .title {
	background-image: linear-gradient(rgba(237, 237, 237, 0.697), #079bca);
	border: 3px solid rgb(208, 211, 16);
	border-radius: 15px;
	width: 30%;
	justify-content: center;
	margin: auto;
}

#letters h3 {
	color: white;
	text-transform: uppercase;
	font-size: 18px;
}

.letter {
	font-weight: bold;
	margin: 5px 5px !important;
	cursor: pointer;
	width: 50px;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 10px;
	font-size: 25px;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-variation-settings:
		"wdth"100;
	background-color: #99c805;
	text-align: center;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2) !important;
}

.letter:hover {
	background: gray;
	border: 0px solid red;
}

.guessed_word {
	background-color: #99c805;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3) !important;
}

.clear {
	clear: both;
}

#hangman-div2 {
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

#hangman-div2>div:nth-child(1) {
	width: 50%;
	float: right;
}

#hangman-div2>div:nth-child(2) {
	width: 20%;
}

#lives-left-div {
	padding: 18px;
	position: sticky;
	left: 100%;
	top: 100;
	font-size: 20px;
}

#lives-left {
	font-weight: bold;
	position: sticky;
}

#guessed-word-div {
	font-size: 40px;
	font-weight: bold;
	top: 47%;
	left: 43%;
}

.text-background {
	display: inline;
}

#the-word-was-div {
	font-size: 40px;
	margin-top: 5px;
	text-align: top;
}

#play-again-div {
	font-size: 3vw;
	margin-top: 50px;
	text-align: center;
	right: 10px;
}

.display-none {
	display: none;
}

.guessed-letter {
	margin: 2px 3px;
	display: inline-block;
	top: 25;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	background: #99c805;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3) !important;
	border-radius: 15px;
	border: 2px solid green;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 40%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#credits {
	text-align: center;
	margin-top: 20px;
	font-family: verdana;
}

#credits a {
	text-decoration: none;
	color: purple;
}

@media all and (max-width:500px) {

	#hangman-div2>div:nth-child(1),
	#hangman-div2>div:nth-child(2),
	#hangman-div2>div:nth-child(3) {
		float: none;
		width: 100%;
	}
}


@media screen and (max-width: 1111px) {
	#letters {
		width: 100% !important;
		margin: auto;
		justify-content: start;
		position: relative;
		left: -1.5rem;
	}

	.letter,
	.title {
		font-size: 18px;
	}

	.image-container {
		top: 10rem;
		left: 5rem;
		width: 20% !important;
		justify-content: center;
	}

	.image-container img {
		width: 100%;
	}

	#guessed-word-div {
		font-size: 30px;
	}
}

@media screen and (max-width: 550px) {
	.image-container {
		width: 30% !important;
		justify-content: center;
		top: 60px;
		left: 6rem;
	}

	#guessed-word-div {
		position: relative;
		top: -3rem;
		left: -6rem;
		width: 190% !important;
		padding-bottom: 1rem !important;
	}

	#lives-left-div {
		position: relative;
		top: -3rem;
		left: 0;
	}

	#letters {
		position: relative;
		top: -1em;
		left: -6rem;
		width: 190% !important;
		padding-bottom: 1rem !important;
	}

	.letter,
	.title {
		font-size: 12px;
	}
}

@media screen and (max-width: 350px) {
	#guessed-word-div {
		position: relative;
		top: -9rem;
		left: 0;
	}

	#lives-left-div {
		position: relative;
		top: -8rem;
		left: 0;
	}

	#letters {
		position: relative;
		top: -8em;
		left: -1.5rem;
	}
}